<div class="container">
    <div class="title">{{accommodation.accommodationInfo.name}}</div>
    <div class="subtitle">{{accommodation.accommodationInfo.address}},{{accommodation.accommodationInfo.city}}, {{accommodation.accommodationInfo.country}}</div>

    <div class="image-container">
        <img class="main-image" src="{{getImage(0)}}">
        <div class="addition-image-container">
            <img class="addition-image" src="{{getImage(1)}}">
            <img class="addition-image" src="{{getImage(2)}}">
            <img class="addition-image" src="{{getImage(3)}}">
            <img class="addition-image" src="{{getImage(4)}}">
        </div>
    </div>

    <div class="content-container">
        <div class="info-container">
            <div class="hosted-title">{{accommodation.accommodationInfo.name}}</div>
            <div class="description-container">
                <div class="description">{{accommodation.accommodationInfo.guestCount}} guests</div>
                <div class="description">{{accommodation.accommodationInfo.roomCount}} room</div>
                <div class="description">{{accommodation.accommodationInfo.bedCount}} beds</div>
            </div>
            <div class="details-description">
                {{accommodation.accommodationInfo.description}}
            </div>
            <div class="amenities-title">Amenities</div>
            <div class="amenities-container">
                <div *ngFor="let item of accommodation.accommodationCharacteristicList" class="amenities">
                    <mat-icon>{{item.iconName}}</mat-icon>
                    {{item.characteristicText}}
                </div>
            </div>

            <div class="feedback-container">
                <mat-card  *ngFor="let item of accommodation.feedbackList">
                    {{item.feedbackText}}
                    {{item.countStar}} 
                    <mat-icon class="ratingStar">star_rate</mat-icon>
                </mat-card>
            </div>
            <div class="comment-container">
                Leave a comment
                <form [formGroup]="commentForm"  class="comment-form">
                    <div class="star-bar" (mouseleave)="clearStar()">
                        <div *ngFor="let star of stars" (click)="selectStar(star.value)" (mouseenter)="fillStar(star.value)">
                            <mat-icon class="ratingStar" *ngIf="star.isFilled">star_rate</mat-icon>
                            <mat-icon  class="ratingStar" *ngIf="!star.isFilled">star_border</mat-icon>
                        </div>
                    </div>
                <mat-form-field class="form-element">
                      <mat-label>Leave a comment</mat-label>
                      <textarea formControlName="text" matInput placeholder="Ex. It makes me feel..."></textarea>
                </mat-form-field>
                <button mat-raised-button (click)="sentFeedback()"> Leave comment</button>
                  </form>
            </div>
        </div>
        <!-- Начало -->
        <div class="reservation-menu">
            <form [formGroup]="searchForm" class="searchForm">
                <div class="info-res">
                    <div class="price">${{accommodation.accommodationInfo.pricePerDay}}/night</div>
                    <div class="review">
                        <mat-icon>star</mat-icon>
                        <div class="review-mark">{{accommodation.rating}}</div>
                        <div class="review-count">({{accommodation.countReview}})</div>
                    </div>
                </div>
                <!-- <mat-form-field class="search-element">
                    <mat-label>Input</mat-label>
                    <input formControlName="placeToGo" matInput>
                  </mat-form-field> -->
                <mat-form-field class="search-element">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                      <input matStartDate formControlName="startDate" placeholder="Start date">
                      <input matEndDate formControlName="endDate" placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>

                <button *ngIf="!availabilityCheck" (click)="checkAvailability()" class="sumbit-button">Check availability</button>
                <button *ngIf="availabilityCheck" (click)="reserv()" class="sumbit-button">Reserv</button>
                <div class="price-check" *ngIf="availabilityCheck">
                    <div class="service-price">
                        <div class="service">
                            $ {{accommodation.accommodationInfo.pricePerDay}} x  {{countDay}} nights
                        </div>
                    </div>
                    <div class="tolal-price">
                        <div class="service">
                            Total
                        </div>
                        <div class="price">
                            {{accommodation.accommodationInfo.pricePerDay *countDay}} $
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Конец -->
    </div>

    
    
</div>