<div class="container">
    <div class="host-form">
        <form [formGroup]="hostForm" >
            <div class="form-field">
                <div class="form-field-text">
                    Please enter name of your house
                </div>
                <mat-form-field appearance="fill">
                    <mat-label>Please enter name of your house</mat-label>
                    <input formControlName="name" matInput>
                  </mat-form-field>
            </div>
            <div class="form-field">
                <div class="form-field-text">
                    select type of accommodation
                </div>
                
                <mat-form-field appearance="fill">
                    <mat-label>What kind of place are you listing?</mat-label>
                    <mat-select formControlName="type">
                      <mat-option *ngFor="let type of houseTypes" [value]="type.value">
                        {{type.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <button mat-raised-button (click)="submit()">sumbit</button>
        </form>
    </div>
    <div class="became-host-text">
        Became host
    </div>
</div>