.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.map-container{
    margin: 1.5rem;
    width: 50vw;
    height: 100vh;
}

.search-container{
    display: flex;
    flex-direction: column;
}

.favorite_icon{
    position: absolute;
    justify-self: flex-end;
    margin: 1rem;
    color:#e8324f;

}

.house-cards-container{
    display: flex;
    flex-direction: column;
}

.example-radio-button{
    margin: 1rem;
}

.search-element{
    margin: 1rem;
}
.search-sub-container{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.search-bar{
    align-items: baseline;
    margin-top: 10rem;
    box-shadow: 0rem 0rem 2rem 0.35rem rgba(0, 0, 0, 0.15);
    background-color: #FFF;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    padding: 0rem 0.5rem;
    margin: 0.5rem;
    justify-content: center;
}

.house-card{
    display: flex;
    flex-direction: row;
    box-shadow: 0rem 0rem 2rem 0.35rem rgba(0, 0, 0, 0.15);
    background-color: #FFF;
    border-radius: 1rem;
    margin: 1.5rem;
}

.house-image{
    height: 15rem;
    border-radius: 1rem;

}

.card-content{
    display: flex;
    cursor: pointer;
    margin: 1rem;
    flex-direction: column;
    justify-content: flex-start;
}

.characteriscit-container{
    display: flex;
    margin-top: 1.5rem;
}

.characteristic{
    margin: 0.5rem;
    color: gray;
}

.card-header{
    font-weight:500;
    font-size: 1.2rem;
    color: #2d303d;
}

.reviews-price-container{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.price-container{
    margin-left: auto;
    font-weight: 700;
    font-size: 1.4rem;
}

.review{
    margin-right: 1rem;
    color: gray;
    display: flex;
    flex-direction: row;
}

.star-icon {
    color: #e8324f;
}
